* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.nav {
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}



ul {
    gap: 20px;
    display: flex;
}


.div {
    background-color: #404864;
    width: 241px;
    padding: 8px;
    display: flex;
    justify-content: end;
    border-radius: 8px;

}

.nav__right {
    display: flex;
    gap: 43px;
}

select {
    background-color: black;
    color: white;
}

.h {
    text-align: center;
    color: white;
}

.div2 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.div2 .arrows {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 80px;
}

.div1 img {
    width: 100%;
}


.h1 {
    color: white;
}

p {
    color: white;
}

.section {
    width: 740px;
    margin: 0 auto;
}


.section_card {
    display: flex;
}


.section_text {
    width: 323px;
    margin: 0 auto;
}




.h2 {
    color: white;
    padding: 10px 10px;
}

p {
    color: white;
}

.section1 {
    width: 740px;
    margin: 0 auto;
}


.section_card1 {
    display: flex;
}


.section_text1 {
    width: 323px;
    margin: 0 auto;
}


.img1 {
    height: 45px;

}

.img2 {
    height: 45px;
}

.cards {
    display: flex;
    align-items: center;
    gap: 41px;
}


.aa {
    background-color: black;
}


body {
    background-color: black;
}


.dd {
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 20px;
}
.aa{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 20px 20px;
   background-color:
   #000000
   50%
    
}
.ss {
    gap: 20px;
    display: flex;
}

.footer-list{
    color: #fff;
}

